{% extends "blog/base.html" %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
  {% if posts %}
    <ul class="post-list">
      {% for post in posts %}
        <li class="post-item">
          <a href="{% url 'blog-detail' post.pk %}"><strong>{{ post.title }}</strong></a>
          <div class="post-meta">{{ post.author }} · {{ post.created_at | date:"Y-m-d H:i:s" }}</div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts yet.</p>
  {% endif %}
{% endblock content %}
